.AboutCourse {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  min-height: 100vh;

  background-color: #fafafa;
}

.AboutCourse-Wrapper {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  max-width: 1160px;
}

.Header {
  margin: 0;
  margin-top: 30px;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 75px;
}

.Title-Wrapper {
  box-sizing: border-box;
  padding: 30px;
  width: 1190px;
  min-height: 310px;
  margin-bottom: 75px;

  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: top -170px right 60px;
  background-size: 405px;

  border-radius: 30px;
}

.Title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;

  letter-spacing: -0.8px;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #000000;

  box-sizing: border-box;
  max-width: 530px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 60px;
}

.Suitable-Header,
.Lines-Header {
  align-self: flex-start;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  font-feature-settings: 'pnum' on, 'lnum' on;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Suitable-Header {
  margin-bottom: 40px;
}

.Lines-Header {
  margin-bottom: 22px;
}

.Suitable-List {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 75px;
}

.Suitable-Item {
  display: flex;

  box-sizing: border-box;
  max-width: 335px;
}

.Suitable-Number {
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  font-feature-settings: 'pnum' on, 'lnum' on;

  box-sizing: border-box;
  width: 67px;
  height: 67px;
  margin-right: 24px;

  background-color: #c7e957;
  border-radius: 50%;
}

.Suitable-Text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  font-feature-settings: 'pnum' on, 'lnum' on;

  box-sizing: border-box;
  max-width: 244px;
  margin: 0;
}

.Lines-List {
  align-self: flex-start;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);

  margin: 0;
  margin-bottom: 75px;
}

.Lines-Item {
  display: flex;
  align-items: center;
  gap: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;

  box-sizing: border-box;
  width: 422px;
  margin: 0;
}

.Lines-Text {
  margin: 0;
}

.AboutCourse-Description {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;

  margin: 0;
  margin-bottom: 75px;
  padding: 0;
}

.Footer {
  background-color: #f9ebff;

  padding: 46px 285px 48px 52px;

  border-radius: 30px;

  background-image: url('./phone.png');
  background-repeat: no-repeat;
  background-position: right 0;

  margin-bottom: 95px;
}

.Footer-Text {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  font-feature-settings: 'pnum' on, 'lnum' on;

  margin: 0;
  margin-bottom: 34px;
}
