.UserInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 75px;
}

.UserInfo-Title {
  margin: 0;

  font-weight: 400;
  font-size: 48px;
  line-height: 1;
}

.UserInfo-InfoBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: ;
}

.UserInfo-User {
  margin: 0;

  font-size: 24px;
  line-height: 1.333;
}

.UserInfo-EditBlock {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
