/* COMMON STYLES */

.Button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-weight: 400;

  text-align: center;

  min-height: 52px;
  padding: 16px;

  border-radius: 46px;
  outline: none;

  cursor: pointer;
  transition: all 0.25s ease;
}

/*  ACTION */

.Button_type_action {
  color: #fff;
  background-color: #580ea2;
  border: 1px solid #580ea2;
}

.Button_type_action:hover {
  background-color: #3f007d;
  border: 1px solid #3f007d;
}

.Button_type_action:active {
  background-color: #271a58;
  border: 1px solid #271a58;
}

/* OUTLINED */

.Button_type_outlined {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #d0cece;
}

.Button_type_outlined:hover {
  background: #f4f5f6;
}

.Button_type_outlined:active {
  background: #d9d9d9;
}

/* DISABLED */

.Button_status_disabled,
.Button_status_disabled:hover,
.Button_status_disabled:active {
  color: #909090;
  background-color: #ededed;
  border: 1px solid #d0cece;

  transform: none;
  cursor: default;
}

/* SECONDARY */

.Button_type_secondary {
  font-size: 24px;
  color: #000000;

  min-height: 48px;
  padding: 9px;

  background-color: #c7e957;
  border: 1px solid #c7e957;
}

.Button_type_secondary:hover {
  background-color: #daf289;
  border: 1px solid #daf289;
}

.Button_type_secondary:active {
  background-color: #ebffab;
  border: 1px solid #ebffab;
}

/* TERTIARY */

.Button_type_tertiary {
  font-size: 16px;
  color: #ffffff;

  min-height: 36px;
  padding: 6px;

  background-color: #140d40;
  border: 1px solid #140d40;
}

.Button_type_tertiary:hover {
  background-color: #2d1f79;
  border: 1px solid #2d1f79;
}

.Button_type_tertiary:active {
  background-color: #3b29a1;
  border: 1px solid #3b29a1;
}

/* SIZE */

.Button_size_l {
  width: 278px;
}

.Button_size_m {
  width: 147px;
}

.Button_size_s {
  width: 77px;
}
