.formWrapper {
  min-height: 100vh;

  display: flex;
  align-items: center;

  background: #271a58;
}

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 366px;
  height: 440px;
  margin: 0 auto;
  padding: 44px;

  background: #ffffff;
  border-radius: 12px;
}

.formLogo {
  margin: 0;
  margin: 0 auto;
  margin-bottom: 38px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.formInput {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05px;

  color: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid #d0cece;
}

.formInput::placeholder {
  color: #d0cece;
}

.formInput:focus {
  border-bottom: 1px solid #580ea2;
}

.formInputPassword {
  margin-top: 20px;
}

.formError {
  height: 19px;
  margin: 0;
  padding-left: 2px;

  font-size: 14px;

  color: #ff6b6b;
}

.formError span::before {
  display: inline;
  content: '⚠ ';
}

.formButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
