.message {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;

  letter-spacing: -1.16878px;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #000000;

  margin: 0;
  padding: 0;
}

@media (max-width: 425px) {
  .message {
    font-size: 20px;

    margin: 0;
    padding: 0;
  }
}
