.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.logoName {
  display: block;
}

@media (max-width: 425px) {
  .logoName {
    width: 150px;
  }
}
