.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.logoName {
  display: block;
}


@media (max-width: 1200px) {
}

@media (max-width: 860px) {
}

@media (max-width: 600px) {
  .logoName {
    display: none;
  }
}