.content {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 42px 44px;

  width: 444px;

  background: #ffffff;
  border-radius: 12px;
}

.title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.05px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-bottom: 40px;
}

.input {
  width: 100%;

  padding: 12px 1px 6px;

  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.05px;

  border: none;
  outline: none;
  border-bottom: 1px solid #d0cece;
}

.input::placeholder {
  color: #d0cece;
}

.input:focus {
  border-bottom: 1px solid #580ea2;
}

@media (max-width: 500px) {
  .title {
    text-align: center;
    margin-bottom: 18px;
  }

  .content {
    width: 320px;
    padding: 25px 20px 40px;
  }

  .fields {
    margin-bottom: 20px;
    gap: 10px;
  }

  .text {
    font-size: 14px;
  }

  .input {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
