.profilePage {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  background-color: #fafafa;
}

.wrapper {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  min-width: 100%;

  padding-right: calc(50% - 580px);
  padding-left: calc(50% - 580px);
}

@media (max-width: 1200px) {
  .wrapper {
    padding-right: calc(50% - 400px);
    padding-left: calc(50% - 400px);
  }
}

@media (max-width: 840px) {
  .wrapper {
    padding-right: calc(50% - 320px);
    padding-left: calc(50% - 320px);
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-right: calc(50% - 300px);
    padding-left: calc(50% - 300px);
  }
}

@media (max-width: 680px) {
  .wrapper {
    padding-right: calc(50% - 180px);
    padding-left: calc(50% - 180px);
  }
}

@media (max-width: 425px) {
  .wrapper {
    padding-right: calc(50% - 150px);
    padding-left: calc(50% - 150px);
  }
}
