.modal {
  position: fixed;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;

  width: 100%;
  min-height: 100vh;

  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
