.adminPage {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  background-color: #fafafa;
}

.wrapper {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;

  padding-right: calc(50% - 580px);
  padding-left: calc(50% - 580px);
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 30px;
  margin-bottom: 52px;
}

.heading {
  margin: 0 0 40px;

  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}
