.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 37px;

  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 34px;
}

@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 860px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
