.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.16;

  margin: 0;
  margin-bottom: 60px;
}

.galleryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 40px;

  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 70px;
}

.link {
  text-decoration: none;
}

.wrapper {
  position: relative;
}

.wrapper:hover {
  cursor: pointer;
}

.go {
  background-color: #c7e957;
  border: 1px solid #c7e957;
  border-radius: 80px;

  padding: 10px 20px;

  position: absolute;
  bottom: 27px;
  left: 30px;

  font-size: 20px;
}

@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 840px) {
  .title {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .gallery {
    gap: 25px;
    margin-bottom: 60px;
  }
}

@media (max-width: 680px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .title {
    margin-bottom: 20px;
  }
}
