.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.35;

  letter-spacing: -1.16878px;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #f4f4ff;

  min-height: 100vh;

  background-color: #271a58;
}

@media (max-width: 840px) {
  .message {
    font-size: 32px;
  }
}

@media (max-width: 425px) {
  .message {
    font-size: 20px;
  }
}
